CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
build_win
build_linux
.vs
openxr-explorer
openxr-explorer-linux-x64.zip
openxr-explorer-main.rar
openxr-explorer-win-x64.zip
openxr-explorer.exe
